html{
    font-family: sans-serif;
}
.selectedTableValue{
    color:#e0f6ef;
    background-color: #6ab099;

}
.hStack{
    display: flex;
    flex-direction: row-reverse;
    flex-flow: row;
}
.vStack{
    display: flex;
    flex-direction: column;
    flex-flow: column;
}
.borderContainer{
    border:1px solid black;
    margin:10px;
    padding:5px;
}
.h2HeaderInfo{
    background-color:yellow;
    text-align:center; 
}
label{
    padding:10px
}
h1{
    color:darkslategray;
    text-align:center; 
}
table{
    
    border: 1px solid black;
    border-collapse:collapse;
    padding:3px;
    text-align: center;
}
th,td{
    border:1px solid black;
    border-collapse:collapse;
}
img{
    max-width:300px;
    border:3px solid black;
}
img:hover{
    border:3px solid red;
}
ul{
    column-count: 3;
}